/* général */

*{padding: 0;
margin: 0;
}


:root {
    --primary-color: #1E293B;
    --secondary-color: #475569;
    --tertiary-color: #38BDF8;
    --background-color: #F8FAFC;
    --text-color: #E2E8F0;
}


h2{
    padding-top: 4rem;
    margin-left: 2rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 2rem;
    color: var(--text-color);
    }

h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    color: var(--text-color);
}

h3{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1.3rem;
    color: var(--text-color);
}

p{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1.1rem;
    color: var(--text-color);
}

a{
    text-decoration: none;
}
/* header */

header {
    height: 4rem;
    background-color:var(--background-color);
    position: fixed;
    width: 100%;   
        }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
        border-bottom: 2px black solid;
    }

        .logo {
            margin-left: 3%;    
            font-family: "Big Shoulders Stencil Text", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            font-size: 3em;
            color : black;
        }

        .nav-ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            list-style: none; 
            width: 70%;
            margin: auto;
            align-content: center;
            gap: 0.5rem;
        }

        .nav-ul a{
            text-decoration: none;
            font-family: "Anuphan", sans-serif;
            font-optical-sizing: auto;
            font-weight: 500;
            font-style: normal;
            color : var(--primary-color)
        }
        

/*//////// main ///////*/

/* section de l'acceuil */
.section-accueil{
    background: linear-gradient(90deg, var(--primary-color) 69%, var(--secondary-color) 29%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

    /* div pour alligner les divs de l'accueil */
    .div-accueil{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;      
    }
        /* div pour gérer titre et nom */
        .texte-accueil{
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            text-align: center;
            margin-bottom: 4rem;
        }
           /* position titre */
            .texte-accueil h1{
                margin-bottom: 1rem;
                margin-top: 1rem;
            }
            /* position nom */
            .texte-accueil h2{
                font-size: 1.5em;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding-top: 0;
                margin-left: 0;
            }

        /* flex pour sous texte accueil */
        .texte-accueil2 {
            
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
            gap:1.5rem;
    
    
    }
        /* texte étude et recherche */
        .com-acceuil{
            text-align: center;
            width: 8rem;
    
        }

  /* photo avatar */
  .avatar-accueil{
    max-width: 18rem;
    border-radius: 4rem;
    margin-top: 12rem;
    margin-bottom: 5rem;
/*     
    margin-right: 14%; */

}


/*/////////// page 2  ///////////*/


.section-parcours{
background-color: var(--background-color) ;
padding-bottom: 2rem;
}

.section-parcours h2{
    padding-bottom: 1rem;
    color: var(--primary-color);
    }

.parcours-1div{

    /* display: flex;
    justify-content: flex-start; */
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 4rem;
}



.parcours-1div h3{
padding-bottom: 1rem;
color: var(--text-color);
}

.parcours-1div p{
    padding-bottom: 0.5rem;
    color: var(--text-color);
    }

.parcours-2div{
        display: flex;
        justify-content: flex-start;
        
    }

.parcours-2-1div{
    margin-top: 2rem;
    max-width: 30%;
    /* background-color: #5E819D; */
    background-color: var(--primary-color);
    border: 1px black solid;
    padding: 0.5rem;
    border-radius: 1rem;
}

.parcours-3div{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.parcours-3-1div{
    align-items: center;
    align-content: center;
    max-width: 30%;
    background-color: var(--secondary-color);
    border: 1px black solid;
    padding: 0.5rem;
    border-radius: 1rem;
}

.parcours-4div{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.parcours-4-1div{
    max-width: 30%;
    background-color: #7BAFD4;
    border: 1px black solid;
    padding: 0.5rem;
    border-radius: 1rem;

}


/*/////// pages 3 ////////*/

.section-projets{
    background-color: var(--secondary-color);
    padding-bottom: 3rem;
}

.projets-div1{
display: flex;
flex-direction: row;

justify-content: space-around;
margin-left: 5%;
margin-right: 5%;
margin-top: 1rem;
padding-bottom: 4rem;
}

.section-projets h3{
    margin-left: 2rem;
    margin-top: 4rem;
    font-size: 1.5rem;
    text-align: center;

}

.section-projets p, ul{
    color: var(--primary-color);
}

/* 
h3{
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 1.3rem;
} */


.logo-langue{
    width: 1.5rem;
    height: 1.5rem;
}

.projets-python {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.projets-container {
    display: flex;
    flex-wrap: wrap; /* Permet le passage à la ligne sur petits écrans */
    justify-content: center; /* Centre les éléments */
    gap: 2rem; /* Espace entre les cases */
    margin-top: 2rem;
}


.projet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px; /* Taille fixe pour les cases */
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.projet img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.projet p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--primary-color);
}

/* Style général de la modale */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


/* Contenu de la modale */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 2px black solid;
}

/* Bouton de fermeture */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

/* Image GIF */
.gif-projet {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.section-projets ul {
    list-style: none; 
    padding: 0; 
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding-top: 0.2rem;
}


.logo-rando13{
    border-radius: 10px;
}

.github-link {
    text-align: center;
    margin-top: 1rem;
}

.github-link a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem; 
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 1rem;
}

.github-link a:hover {
    color: #0366d6; 
}

.github-logo {
    width: 24px;
    height: 24px;
}




    .projets-div2{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 45%;
        background-color: #ece9e3ba;
        border-radius: 1rem;
        border: 1px black solid;
        height: 28rem;
        padding-bottom: 0.4rem;
        }

        .projets-div2 h3{

            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .img-projets{
            width: 70%;
            height: 17rem;
            background-size: cover;
        }

        .projets-div2 p{

            width: 80%;
            padding-top: 0.5rem;
        }            

        .center{
            display: flex;
        justify-content: center;
        }

        .projets-div2 ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 40%;
            list-style: none;
        }

            .projets-div2 li{

                width: 4rem;
                height: 4rem;
                margin-top: 0.5rem;
                }


                /* page 4 */


.section-contact{
background-color: var(--primary-color);
padding-bottom: 0.2rem;
}

.section-contact p{

    
    margin-top: 4rem;
    text-align: center;
}

.section-contact ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.section-contact img{
width: 12rem;
height: 12rem;
}


@media only screen and (max-width:800px){


    h2{
       text-align: center;
       margin-left: 0;
   } 
    
       /* pour section accueil */
       
                   .section-accueil{
                       display: flex;
                       flex-direction: column;
                       /* justify-content: flex-start; */
                       align-items: center;
                       background: linear-gradient(180deg, var(--primary-color) 60%, var(--secondary-color) 40%);
                       
                   }
       
                   .avatar-accueil{
                           max-width: 20rem;
                           margin:2rem;
                       } 
                  
   
       /* pour section parcours */
   
   .section-parcours{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   
   .parcours-2div{
       display: flex;
       justify-content: center;
       width: 100%;
   
   }
   
   .parcours-2-1div{

   max-width: 100%;
   }
   
   .parcours-3div{
   display: flex;
   justify-content: center;
   margin-top: 5rem;
   }
   
   .parcours-3-1div{
   max-width: 100%;
   }
   
   .parcours-4div{
   display: flex;
   justify-content: center;
   margin-top: 5rem;
   }
   
   .parcours-4-1div{
   max-width: 100%;
   }
   
   /* pour section projets  */
   
   .projets-div1{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       gap:3rem;
       }
   
       .projets-div2{
           width: 80%;
           height: 30rem;
   }
   
   
   .section-contact ul{
       display: flex;
       flex-direction: column!important;
       justify-content: center;
       align-items: center;
       gap: 2rem;
   }
   



.modal-content {
    /* background-color: white;
    padding: 20px;
    border-radius: 10px; */
    width: 80%;
    /* text-align: center;
    position: relative;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 2px black solid; */
}

/* Bouton de fermeture */
.close {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 30px;
    cursor: pointer;
}

/* Image GIF */
.gif-projet {
    /* width: 100%; */
    max-height: 500px;
    /* object-fit: contain;
    margin-bottom: 1rem; */
}
}