*{padding: 0;
margin: 0;
}


:root {
    --primary-color : #D2B48C;
    --secondary-color : #2E4A7F;
    --tertiary-color : #228B22;
    --primary-font-family : 'Manrope', sans-serif;
}

header {
    height: 4rem;
    background-color:antiquewhite;
}


    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
    }

        .logo {
            margin-left: 5rem;    
        }

        .nav-ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none; 
            margin-left: 10rem;
            width: 100%;
        }

/* main */

.section-accueil{
    background: linear-gradient(90deg, var(--primary-color) 69%, var(--secondary-color) 29%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .div-accueil{
        display: flex;
        flex-direction: column;
        margin-left: 2rem;        
    }

        .texte-accueil{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            padding-left: 5rem;
        }

            .texte-accueil h1{
                font-size: 4em;
                width: 20rem;
                /* padding-top: 1rem; */
                
            }

            
            .texte-accueil h2{
                font-size: 1.5em;
                margin-top: 1rem;
            }

            .texte-accueil p{
                font-size: 1.2rem;
                margin-top: 2rem;
            }

        .avatar-accueil{
            max-width: 20rem;
            border-radius: 4rem;
            margin-right: 14%;

        }

    .div-accueil2 {
        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 3rem;    
        margin-top: 10rem;
    
    }

        .com-acceuil{
            width: 10rem;
            margin-bottom: 4rem;
            margin-left: 5rem;
        }

/*/////////// page 2  ///////////*/


.parcours{
height: 40rem;
}

.parcours, h2{
    margin-top: 2rem;
    margin-left: 2rem;
    }

.parcours-1div{

    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 4rem;
}

.parcours-1div, h3{
padding-bottom: 1rem;
}

.parcours-1div, p{
    padding-bottom: 0.5rem;
    }

.parcours-2div{
    margin-top: 2rem;
    max-width: 30%;
}

.parcours-3div{
    margin-top: 12rem;
    max-width: 30%;
}

.parcours-4div{
    margin-top: 24rem;
    max-width: 30%;
}

/*/////// pages 3 ////////*/

.img-projets{
    width: 30%;
    height: 40%;
    max-width: max-content;
    max-height: 30em;
}


.div1-projets{
display: flex;

}