/* général */

*{padding: 0;
margin: 0;
}


:root {
    --primary-color : #D2B48C;
    --secondary-color : #2E4A7F;
    --tertiary-color : #228B22;
    --primary-font-family : 'Manrope', sans-serif;
}

h2{
    padding-top: 4rem;
    margin-left: 2rem;
    }

/* header */

header {
    height: 4rem;
    background-color:antiquewhite;
    position: fixed;
    width: 100%;
    
}


    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;
 
    }

        .logo {
            margin-left: 5rem;    
        }

        .nav-ul{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            list-style: none; 
            margin-left: 10rem;
            width: 100%;
            align-content: center;
        }

/*//////// main ///////*/

.section-accueil{
    background: linear-gradient(90deg, var(--primary-color) 69%, var(--secondary-color) 29%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .div-accueil{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;        
    }

        .texte-accueil{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            padding-left: 5rem;
        }

            .texte-accueil h1{
                font-size: 4em;
                width: 20rem;
                /* padding-top: 1rem; */
                
            }

            
            .texte-accueil h2{
                font-size: 1.5em;
                margin-top: 1rem;
            }

            .texte-accueil p{
                font-size: 1.2rem;
                margin-top: 2rem;
            }

        .avatar-accueil{
            max-width: 20rem;
            border-radius: 4rem;
            margin-right: 14%;

        }

        .texte-accueil h2{
            padding-top: 0;
            margin-left: 0;
        }

    .div-accueil2 {
        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 3rem;    
        margin-top: 10rem;
    
    }

        .com-acceuil{
            width: 10rem;
            margin-bottom: 4rem;
            margin-left: 5rem;
        }

/*/////////// page 2  ///////////*/


/* .section-parcours{
height: 40rem; 
} */



.parcours-1div{

    /* display: flex;
    justify-content: flex-start; */
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 4rem;
}

.parcours-1div h3{
padding-bottom: 1rem;
}

.parcours-1div p{
    padding-bottom: 0.5rem;
    }

.parcours-2div{
        display: flex;
        justify-content: flex-start;
    }

.parcours-2-1div{
    margin-top: 2rem;
    max-width: 30%;
}

.parcours-3div{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.parcours-3-1div{
    align-items: center;
    align-content: center;
    max-width: 30%;
}

.parcours-4div{
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.parcours-4-1div{
    max-width: 30%;

}


/*/////// pages 3 ////////*/

.projets-div1{
display: flex;
flex-direction: row;

justify-content: space-around;
margin-left: 5%;
margin-right: 5%;
margin-top: 1rem;
}


    .projets-div2{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 45%;
        background-color: #228B22;
        border-radius: 1rem;
        border: 1px black solid;
        height: 28rem;
        padding-bottom: 0.4rem;
        }

        .projets-div2 h3{

            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .img-projets{
            width: 70%;
            height: 17rem;
            background-size: cover;
        }

        .projets-div2 p{

            width: 80%;
            padding-top: 0.5rem;
        }            

        .center{
            display: flex;
        justify-content: center;
        }

        .projets-div2 ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 40%;
            list-style: none;
        }

            .projets-div2 li{

                width: 4rem;
                height: 4rem;
                margin-top: 0.5rem;
                }


                /* page 4 */


.section-contact{

}

.section-contact p{

    
    margin-top: 4rem;
    text-align: center;
}

.section-contact ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.section-contact img{
width: 12rem;
height: 12rem;
}




@media only screen and (max-width:1250px){


h2{
    text-align: center;
}

    /* pour section accueil */
    
                .section-accueil{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center!important;
                    background: linear-gradient(180deg, var(--primary-color) 60%, var(--secondary-color) 40%);
                    
                }
    
                .avatar-accueil{
                        max-width: 20rem;
                        border-radius: 4rem;
                        margin: auto;
                        margin-bottom: 2rem;
                    }
               

    /* pour section parcours */

.section-parcours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parcours-2div{
    display: flex;
    justify-content: center;
}

.parcours-2-1div{
margin-top: 2rem;
max-width: 60%;
}

.parcours-3div{
display: flex;
justify-content: center;
margin-top: 5rem;
}

.parcours-3-1div{
align-items: center;
align-content: center;
max-width: 60%;
}

.parcours-4div{
display: flex;
justify-content: center;
margin-top: 5rem;
}

.parcours-4-1div{
max-width: 60%;
}

/* pour section projets  */

.projets-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    }

    .projets-div2{
        width: 80%;
        height: 30rem;
}


.section-contact ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

}